.App {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: #282c34;
    overflow: hidden;
}

.App-header {
    display:flex;
    height: 15%;
    background-color: #34a1eb;
    align-items: center;
    justify-content: center;
    padding-left: 160px;

}
.App-logo {
    width: 180px;
}
.App-logo2 {
    width: 80px;

}
.body{
    display: flex;
    flex-direction: row;
    background: url("Assets/bruh.jpeg") center no-repeat;
    background-size: 100%;
    min-height: 20vh;
    height: 100%;
}
.RSButton{
    display: flex;
    flex: 1;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(0,0,0,0.7);
    padding: 9px 10px;
    border: 1px solid rgba(255,255,255, 0.25);
    border-radius: 20px;
}
.navButton {
    display: flex;
    flex: 1;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(0,0,0,0.7);
    padding: 9px 10px;
    border: 1px solid rgba(255,255,255, 0.25);
    border-radius: 20px;
    outline: none;
}


.flex-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    height: 100%;
    background-color: #282c34;
    border-right: 1px solid black ;
    padding-top: 10px;
}
@media only screen and (min-width: 651px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 160px;
        height: 100%;
        background-color: #282c34;
        border-right: 1px solid black ;
        padding-top: 10px;
    }
    .navButton {
        display: flex;
        flex: 1;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: rgba(0,0,0,0.7);
        padding: 9px 10px;
        border: 1px solid rgba(255,255,255, 0.25);
        border-radius: 20px;
        outline: none;
    }
}
@media only screen and (max-width: 650px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100px;
        height: 100%;
        background-color: #282c34;
        border-right: 1px solid black ;
        padding-top: 10px;
    }
    .navButton {
        display: flex;
        flex: 1;
        width: 100%;
        font-size: 8px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: rgba(0,0,0,0.7);
        padding: 5px 5px;
        border: 1px solid rgba(255,255,255, 0.25);
        border-radius: 10px;
        outline: none;
    }

}
.rowBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}
.columnBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;

}

@media only screen and (min-width: 851px) {
    .columnBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        font-size: 18px;
    }
    .RSButton{
        display: flex;
        flex: 1;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: rgba(0,0,0,0.7);
        padding: 9px 10px;
        border: 1px solid rgba(255,255,255, 0.25);
        border-radius: 20px;
    }
}
@media only screen and (max-width: 850px) {
    .columnBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        font-size: 10px;
    }
    .RSButton{
        display: flex;
        flex: 1;
        width: 100%;
        font-size: 8px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: rgba(0,0,0,0.7);
        padding: 5px 5px;
        border: 1px solid rgba(255,255,255, 0.25);
        border-radius: 10px;
    }
}
